.box {
  margin-top: 20px;
  background-color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  color: coral;
  font-size: 2em;
}

.btn_metodo {
  background-color: #ff5b22;
}
