body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a4f70;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  background-color: aliceblue;
  color: #e78383;
  padding: 10px;
  font-size: 3em;
  border-radius: 5px;
}

.box {
  margin-top: 20px;
  background-color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.rotas {
  background-color: bisque;
}

.rotas ul {
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
}
